body{
    background-color: white;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    font-family: 'Lato', sans-serif;
    padding-right: 10px;
    margin: 0px;
    padding: 0px;
}

.tete{
    height: 50px;
    background-color:rgb(1, 29, 29); 
    color:white;
    padding-bottom: +30px;
}
.name{
    height: 50px;
    justify-content: space-around;
    width: 50%;
    display: inline;
    position: absolute;
    text-align: left;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;;
     padding-left:30px ;
     word-wrap: break-word;
}
div input{
    display: none;
}
div label{
    display: none;
}

a{
    text-decoration: none;
    color: white;
}
.divers{
    justify-content: right;
    height: 50px;
    width: 50%;
    display: inline;
    float: right;
    margin-right: 20px;
    text-align: right;
    word-wrap: break-word;

}
ul{
    display: flex;
    justify-content: space-around;
}

.bouton{
    list-style-type: none;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;;
    font-weight: bold;
}
.bouton:hover{
    
    border-radius: 7px;
    box-shadow: #fdfdfd59 0px 5px 15px;
    background-color: rgb(1, 47, 59);
    font-family: Arial, Helvetica, sans-serif;
    transition: .3s ease;
    font-size: 22px;
    font-weight: normal;
}
nav{
    padding: 10px;
}

.separateur{
    background-color: rgb(175, 175, 175);
    height: 1px;
    margin-top: +35px;
    max-width: 98%;
    margin-left: 10px;
    margin-right: 10px;
}
.section{
    width: 100%;
    box-sizing: content-box;
    max-height: 600px;
    display: block;
    
}
.image{
    height: 600px;
    width: 50%;
    display: flex;
    position:absolute;
    justify-content: center;
    align-items: center;
}
.image1{
    border-radius: 7px;
    max-height: 60%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.image1:hover{
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.text{
    height: 600px;
    width: 50%;
    float: right;
    display: flex;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.text p{
    max-width: 80%;
}
.text__item1{
    font-size: 36px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-family:'Montserrat', sans-serif;
    background-color: rgb(1, 29, 29);
    margin-top: 0%;
    padding-top: 15px;
}
.bouton2{
    color: black;
    font-size: 19px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding-left: 10px;
    padding: 10px;
}
.bouton2:hover{
    border-radius: 7px;
    box-shadow: #00000059 0px 5px 15px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    transition: .3s ease;
    font-size: 22px;
    font-weight: normal;
}
.conteneur{
    display: flex;
    flex-direction: column;
}
div input[type=checkbox]:checked ~ ul{
    display: block;
    position: absolute;
    z-index: 1;
    background-color:rgb(1, 29, 29);
    border-radius: 7px;
}
.image2{
    max-width: 90%;
    max-height: 100%;
    margin:auto;
    padding: auto;
}
.footeur{
    text-align: center;
    padding-top: 30px; 
    height: 100px;
    background-color:rgb(1, 29, 29); 
    color: white;
}

@media only screen and (max-width: 700px){
    body{
        -height: 100%;
    }
    .section{
        display: flex;
        flex-direction: column;
        min-height: none;
        margin-top: +45px;
    }
    .image{
        position: relative;
        min-width: 100%;
    }
    .text {
        position: relative;
        word-wrap: break-word;
        font-size: 13px;
        width: 100%;
    }
    .image1{
        max-height: 90%;
        max-width: 80%;
        margin: auto;
        padding: auto;
    }
    .text__item1{
        font-size: 20px;
        padding-bottom: 5px;
    }
    .tete p {
        max-height: 90%;
        max-width: 90%;
        margin: auto;
        padding: auto;
    }
    .image2{
        max-width: 90%;
        max-height: 100%;
        margin:auto;
        padding: auto;
    }
    .name{
        font-size: 20px;
        padding-left: 10px;
    }
    .name p {
        margin-top: 20px;
    }

    .menu-responsive{
        display: block;
        margin: auto;
        font-family: 'Montserrat', sans-serif;
        margin-top: 15px;
        justify-content: right;
    }
    .menu-responsive p{
        font-size: 16px;
    }
    div ul{
        display: none;
        text-align: center;
    }
    .footeur{
        height: 60px;
        font-size: 13px;
        padding-top: 8px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
    }
    .bouton{
        font-size: 15px;
    }
    .bouton:hover{
        font-size: 18px;
    }

    
  } 